:root {
    --primary-color: #cd4e4e;
    --secondary-color: #252525;
    --tertiary-color: #1c1c1c;
    --kinda-white: #f5f5f5;
    --background-color: #353ebd;

    --primary-text-color: #fff;
}

* {
    margin: 0;
}

html {
    background: var(--tertiary-color);
    height: 100%;
    overflow-x: hidden;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 100;
    position: relative;
}

body {
    color: white;
    background-color: var(--tertiary-color);
}

#page-name {
    display: none;
}

@supports (-moz-appearance: none) {
    #wrapper {
        min-height: 100vh;
    }
}

.navbar {
    margin: 40px 0;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 00 55px;
    z-index: 100000;
}

.logo {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    white-space: normal;
}

.logo .logo-image {
    width: 2em;
}

.logo-image {
    width: 3em;
    transition: .2s;
}

.logo-image:hover {
    transform: scale(1.1);
}

.white-filter {
    filter: invert(100%) sepia(89%) saturate(0%) hue-rotate(355deg) brightness(106%) contrast(101%);
}

.header-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    background-color: var(--tertiary-color);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header {
    background-color: var(--tertiary-color);
    transition: padding .5s;
    transition: box-shadow .2s;
}

.nav-bg {
    transition: padding .5s;
    transition: box-shadow .2s;
}

.nav-link {
    display: inline-block;
}

.nav-link.dropdown-toggle {
    padding-left: 0;
    margin-left: -5px;
    font-size: 1.6rem;
    top: 5px;
}

.nav-link {
    transition: transform .1s;
}

.nav-link.active {
    transform: scale(1.1);
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-link.dropdown-toggle {
    padding: 10px;
}

.breadcrumb {
    background-color: var(--tertiary-color);
    font-size: 1.2em;
    padding-left: 0;
}

.hover-scale {
    transition: .2s;
}

.hover-scale:hover {
    transform: scale(1.1);
}

.btn {
    transition: .2s;
}

.btn:hover {
    transition: .2s;
    transform: scale(1.05);
}

.card {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .2s;
}

.card:hover {
    transition: .2s;
    transform: scale(1.05);
    background-color: var(--tertiary-color);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dropdown Stuff */

.nav-link.dropdown-toggle {
    padding-left: 0;
    margin-left: -5px;
    font-size: 1.6rem;
    top: 5px;
    padding: 10px;
}

.dropdown-menu {
    background-color: var(--secondary-color);
    padding: 10px;
    left: initial;
    top: initial;
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    animation-fill-mode: forwards;
    transform: scale(0.9, 0.7) translateY(-20px); 
    transition: all 80ms ease;
    display: block;
    width: 0;
    height: 0;
    margin: 0;
}

.dropdown-menu.show {
    transform: scale(1, 1) translateY(0);  
    opacity: 1;
    visibility: visible;
    width: initial;
    height: initial;
    margin: initial;
  }

.dropdown-item {
    margin: 0;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    transition: .2s;
}

.dropdown-item.active {
    background-color: transparent;
    transform: scale(1.1);
    color: #fff !important;
}

.dropdown-item:hover {
    color: #fff !important;
    background-color: var(--tertiary-color);
    transform: scale(1.1);
}

@media only screen and (max-width: 990px) {
    header {
        padding: 0;
        margin: 0;
        margin-bottom: 0;
    }

    .navbar {
        margin-bottom: 0;
        margin-top: 0;
    }

    .logo {
        width: 75%;
    }

    .header-icons {
        display: inherit;
    }
    
    .header-icon {
        height: 3em;
    }

    .page-header-icon {
        height: 1.5em;
    }

    .nav-bg {
        padding: 0;
    }

    .nav-bg .navbar {
        transition: .2s;
    }

    .logo .logo-image {
        transition: .2s;
        width: 1.6em;
    }

    .navbar-collapse {
        padding: 10px;
    }

    .nav-link {
        margin: 0;
    }

    .nav-item {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .nav-link.dropdown-toggle {
        position: absolute;
        right: 0;
        top: 10px;
    }

    .dropdown-menu {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .dropdown-menu.show {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
        flex: 0 0 100%;
    }

    .dropdown-item {
        /*flex: 1; Makes dropdown items cluster together, nice looking but laggy */
        padding: 5px;
        flex: 0 0 100%; /* Makes dropdown items stay on their own line, still nice but also not laggy */
    }

    .card-deck .card {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        flex-direction: column;
        width: 100%;
        margin-bottom: 15px;
    }
}

footer {
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    height: auto;
    display: flex;
}

footer .copyright {
    align-self: center;
    display: flex;
}

footer .additional {
    display: flex;
    font-size: 10px;
    vertical-align: center;
    text-align: right;
    align-self: center;
    width: 236.7px;
}

.text-image {
    width: 40%;
}

@media only screen and (max-width: 1024px) {
    footer .container {
        flex-wrap: wrap;
    }

    footer .copyright {
        justify-content: center;
        text-align: center;
    }

    footer .additional {
        text-align: center;
        align-self: center;
        justify-content: center;
        width: 100%;
    }

    .text-image {
        width: 100%;
    }
}

.divider-grey {
    box-shadow: inset 0 -4px 0 var(--secondary-color);
}

/* To block the site for internet explorer users */
.ie-block {
    display: none;
}

.ie-block-content {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    #ie-block {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000000000;
        background-color: #1c1c1c;;
    }

    .ie-block-content {
        display: block;
        margin: 30px;
        position: absolute;
        top: 30%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .ie-block-image {
        transition: .2s;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .ie-block-image:hover {
        transition: .2s;
        transform: scale(1.1);
    }
}

.disabled:hover {
    transform: scale(1);

}
