input {
    width: 100%;
    line-height: 3;
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    outline: none;
}

#wordsearch {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.table th {
    border-top: none;
    color: #fff;
    text-align: center;
    min-width: 2em;
}

.table tr {
    max-width: 100%;
}

output {
    vertical-align: text-bottom;
}

.slider-group {
    width: 100%;
}

.slider {
    width: 85%;
}